body {
    background-color: lightblue;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}
#button-container {
    background-color: hsl(60, 74%, 92%);
    background-attachment: scroll;
    display: flex;
    height: 65px;
    justify-content: flex-end;
    gap: 20px;
    padding:15px;
}
.section{
    background-color: lightblue;
    padding: 15px;
    margin: 10px 0;
}
.services {
    background-color: lightblue;
}

.hero {
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
    height: 400px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.contact-info {
    background-color: 3373C4;
    padding: 15px;
    margin: 10px 0;
    font-size: 18px;
    
}